# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js build & output
/.next/
/out/
/build
/dist

# Production & debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables & secrets (never commit secrets)
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Local database & state
/.local-db/
*.sqlite
*.sqlite3
*.sqlite-journal
*.db
*.db-journal

# TypeScript cache
*.tsbuildinfo
tsconfig.tsbuildinfo

# Deployment & cloud tooling
.vercel
.netlify

# Turborepo cache
.turbo

# Testing & Coverage
/coverage
*.lcov
.nyc_output

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# IDEs & code editors
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

